/* color */
$bg-section: hsl(225, 100%, 94%);

$clr-heading: hsl(223, 47%, 23%);
$clr-text: hsl(224, 23%, 55%);
$clr-bright: hsl(225, 100%, 98%);
$clr-white: hsl(225, 100%, 100%);
$clr-accent: hsl(245, 75%, 52%);
