@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
@import "./reset";
@import "./vars";

body {
  font-family: "Red Hat Display", sans-serif;
}

button {
  cursor: pointer;
  display: block;
}

.section {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
  gap: 1rem;

  background-color: $bg-section;
  background-image: url("../images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 48rem) {
  .section {
    background-image: url("../images/pattern-background-desktop.svg");
  }
}

@import "./card";
